@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --color-dominant-white: #fffff6ff ;  
  --color-light-grey: #e1fffaff ;  
  --color-dominant-shadow-blue: #539F95 ;
  --color-pop-red: #690B1F ;
  --color-pop-lighter: #FFC0C8 ;
  --font-fraunces: "Fraunces", serif;
  --font-optical-sizing: auto;
  --font-weight: <weight>;
  --font-style: normal;
  --font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}
